.footer {
  background-color: rgb(190, 131, 41);
  height: 50px;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
