.header {
  margin: 0 auto;
  width: 80%;
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    width: 30%;
    padding: 1em;
  }

  &__link {
    text-decoration: none;
  }

  &__user {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.2em;
    width: 70%;

    &__link {
    }

    &__img {
    }
  }
}
